#root {
  width: 800px;
  margin: 0 auto;
}

/* Layout */

.page-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Welcome page */

.welcome-title {
  color: #293264;
  font-weight: bold;
  margin-bottom: 10px;
}

.welcome-desc {
  color: #293264;
  margin-bottom: 30px;
  font-weight: 400;
}

.start-button {
  background-color: #4d5b9e;
  font-weight: 500;
  border: none;
  padding: 22px 70px;
  border-radius: 15px;
  line-height: 1;
  color: #f5f7fb;
  font-size: 1rem;
  cursor: pointer;
}

/* Questions page */

.questions-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 15px;
}

.question-box {
  padding: 25px 0;
  border-bottom: 1px solid #dbdef0;
}

.question-header {
  margin-bottom: 15px;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1;
}

.input-radio {
  display: none;
}

.label {
  display: inline-block;
  border: 1px solid #4d5b9e;
  color: #293264;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 10px;
  padding: 5px 20px;
  margin: 10px 15px 0 0;
  cursor: pointer;
}

.label:has(.input-radio:checked) {
  background-color: #d6dbf5;
  border-color: #d6dbf5;
}

.check-answers {
  display: flex;
  justify-self: center;
  margin-top: 20px;
  background-color: #4d5b9e;
  font-weight: 600;
  border: none;
  padding: 20px 40px;
  border-radius: 15px;
  line-height: 1;
  color: #f5f7fb;
  font-size: 1rem;
  cursor: pointer;
}

.label.good--answer:has(.input-radio:checked) {
  background-color: #94d7a2;
  border-color: #94d7a2;
}

.label.bad--answer:has(.input-radio:checked) {
  background-color: #f8bcbc;
  border-color: #f8bcbc;
}

.label.highlight--answer {
  background-color: #94d7a2;
  border-color: #94d7a2;
}

.label:has(input:disabled) {
  cursor: not-allowed;
}

.new-game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.new-game-text {
  font-weight: bold;
}

.new-game {
  display: flex;
  justify-self: center;
  background-color: #4d5b9e;
  font-weight: 600;
  border: none;
  padding: 20px 40px;
  border-radius: 15px;
  line-height: 1;
  color: #f5f7fb;
  font-size: 1rem;
  cursor: pointer;
}

.loading {
  display: flex;
  justify-content: center;
}
